body{
    background-image: url(images/Background.jpg);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    border: 3px solid white;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
    color: white;
}

img {
    background-color: white;
    float: right
    margin: 0.5em;
    width: 150px;
    border-radius: 0.5em;
    align-items: center;
}

.menu {
    opacity: 0.79;
    
}

.large1 {
    background-color: #ce8964;
    padding: 1em;
    text-align: justify;
    margin: 0.5em;
    flex: 1;
    border-radius: 0.5em;
}

.large2 {
    background-color: #8f3514;
    padding: 1em;
    text-align: justify;
    margin: 0.5em;
    flex: 1;
    border-radius: 0.5em;
}

.large3 {
    background-color: #32170F;
    padding: 1em;
    text-align: justify;
    margin: 0.5em;
    flex: 1;
    border-radius: 0.5em;
}

footer {
    background-color: #8D684C;
    padding-top: 1em;
    padding-bottom: 1em ;
    text-align: justify;
    margin: 0.5em;
    opacity: 1;
    border-radius: 0.5em;
}

.phone {
    text-align: center;
}

.media {
    display: inline-flex;
    text-align: center;
}

.copy {
    text-align: center;
}

.media2 {
    align-items: center;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-decoration: none;
    margin: 0.2em;
    display: flex;
        align-items: center;
        justify-content: center;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.8;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: white;
    color: blue;
    border-radius: 0.5em;
  }
  
  /* Twitter */
  .fa-twitter {
    background: white;
    color: #55ACEE;
    border-radius: 0.5em;
  }

  /*Instagram*/
  .fa-instagram {
    background: linear-gradient(#F9CE34, #EE2A7B, #6228D7);
    color: white;
    border-radius: 0.5em;
  }
  

  .fa-youtube {
    background: #E71515;
    color: white;
    border-radius: 0.5em;
  }

  @media(min-width: 768px) {
    .menu {
        display: flex;
    }

    .media {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

  @media(max-width:768px) {
    .media {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }    

    body{
        background-image: url('images/Background.jpg');
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    h1 {
        text-align: center;
        border: 3px solid white;
        padding: 0.5em;
        margin: 0.5em;
        color: white;
    }
    
    img {
        background-color: white;
        float: right;
        margin: 0.5em;
        width: 150px;
    }
    
  }